.header {
  padding: 1em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-name {
  color: var(--third);
  font-size: var(--heading-font-size);
  font-weight: 800;
}
.brand-name span {
  background-color: var(--primary);
  padding: 0em 0.3em;
  border-radius: 5px;
}
.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  flex: 1;
  padding: 1em;
  display: flex;
}
.nav-link {
  font-size: var(--normal-font-size);
  margin: 1em;
  color: var(--third);
}
.nav-link:hover {
  transition: ease-in-out 100ms;
  color: var(--primary);
}
.nav-btn {
  font-size: var(--btn-font-size);
  color: var(--third);
  background-color: var(--primary);
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 1px solid var(--primary);
}
.nav-btn:hover {
  transition: ease-in-out 100ms;
  background-color: var(--sixth);
}
.nav-mobile-btn {
  display: none;
}
@media (max-width: 900px) {
  .nav {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: column;
  }
}
