@import "./style.scss";

#footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  background-color: var(--bg-color);
  .footer-wrapper {
    width: $lg-width;
    display: flex;
  }
  .footer-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .footer-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  .social-links {
    width: 30px;
    margin: 0em 2em;
    transform: scale(1);
  }
  .social-links:hover {
    transition: 200ms;
    transform: scale(1.2);
  }
  .image {
    filter: invert(0.1);
  }
}
