@import "./style.scss";

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-card {
  height: 255px;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5em 2em;
  user-select: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.services-card .icon {
  width: 55px;
  fill: white;
}
.services-card .card-heading {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.services-card .card-info {
  font-size: 15px;
  color: white;
  text-align: center;
}
.card-1 {
  background-color: darken(#8540ff, 10%);
}
.card-2 {
  background-color: darken(#ffc50c, 10%);
}
.card-3 {
  background-color: darken(#ec407a, 10%);
}
.card-4 {
  background-color: darken(#ff6331, 10%);
}
.card-5 {
  background-color: darken(#13b6ff, 10%);
}
.card-6 {
  background-color: darken(#49af46, 10%);
}
.card-1:hover {
  background-color: darken(#8540ff, 30%);
}
.card-2:hover {
  background-color: darken(#ffc50c, 30%);
}
.card-3:hover {
  background-color: darken(#ec407a, 30%);
}
.card-4:hover {
  background-color: darken(#ff6331, 30%);
}
.card-5:hover {
  background-color: darken(#13b6ff, 30%);
}
.card-6:hover {
  background-color: darken(#49af46, 30%);
}
@media (max-width: $xl-width) {
  .services-row {
    flex-direction: row;
  }
}
@media (max-width: $lg-width) {
  .services-row {
    flex-direction: row;
  }
}
@media (max-width: $md-width) {
  .services-row {
    flex-direction: column;
  }
  .services-row {
    margin-bottom: 2em;
  }
  .services-row:last-child {
    margin-bottom: 0em;
  }
  .services-card {
    width: 400px;
    margin-bottom: 2em;
  }
  .services-card:last-child {
    margin-bottom: 0em;
  }
}
