html {
  --bg: #161d26;
  --bg-color: #1f2935;
  --color: #95a5c6;
  --white: #ffffff;
}

html[data-theme="dark"] {
  --bg: #f5f5f5;
  --bg-color: #ffffff;
  --color: #1f2935;
  --white: #161d26;
  .image {
    filter: invert(0.5);
  }
}

$primary-color: #0abead;
$secondary-color: #f57f17;
$xl-width: 1600px;
$lg-width: 1300px;
$md-width: 900px;
$sm-width: 600px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
body::-webkit-scrollbar {
  background-color: var(--bg-color);
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 12px;
}
.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*
@media (max-width: 1060px) {
  .desktop-nav {
    width: 60%;
  }
  #jumbotron {
    margin-top: 200px;
    flex-direction: column;
  }
  .slogan {
    text-align: center;
  }
  .info {
    text-align: center;
  }
  .cta {
    width: 580px;
  }
  .services-row {
    flex-direction: column;
  }
  .services-card {
    margin: 1em;
  }
  #services {
    height: 1830px;
  }
  #portfolio {
    height: 1830px;
  }
  #pricing {
    height: 1900px;
    justify-content: center;
  }
  .pricing-content {
    margin-top: 40px;
    width: fit-content;
    flex-direction: column;
  }
  .pricing-card {
    margin: 1em;
  }
}
@media (max-width: 930px) {
  .desktop-nav {
    width: 65%;
  }
}
@media (max-width: 800px) {
  .nav {
    padding: 0em 1em;
  }
  .desktop-nav {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}
@media (max-width: 700px) {
  .form {
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 400px;
    height: 500px;
    background: var(--bg-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 2.5em;
  }
}
@media (max-width: 650px) {
  .form {
    right: 80px;
  }
}
*/
