html {
  --bg: #161d26;
  --bg-color: #1f2935;
  --color: #95a5c6;
  --white: #ffffff;
}

html[data-theme="dark"] {
  --bg: #f5f5f5;
  --bg-color: #ffffff;
  --color: #1f2935;
  --white: #161d26;
  .image {
    filter: invert(0.5);
  }
}

$primary-color: #0abead;
$secondary-color: #f57f17;
$xl-width: 1260px;
$lg-width: 1060px;
$md-width: 960px;
$sm-width: 560px;
$heading-font-size: 26px;
$normal-font-size: 16px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:focus {
  background-color: transparent !important;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  background-color: var(--bg-color);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 5px;
}
