@import "../Variables.scss";

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  color: $color;
}
.footer-wrap {
  padding: 2em 0em;
  width: 1360px;
  display: flex;
  flex-direction: column;
}
.footer-link-wrap {
  display: flex;
  padding: 1em 0em;
  border-bottom: 1px solid $color;
}
.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.row {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.col .nav-link {
  padding: 0.5em 0em;
}
.footer-links-heading {
  font-size: $normal-font-size + 8px;
  color: $color;
  font-weight: 600;
}
.footer-contact-wrap {
  display: flex;
  padding-top: 2em;
}
.contact-icon {
  border: 1px solid $color;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact-icon:hover {
  background-color: $promary;
  border-color: $promary;
}
