@import "../Variables.scss";

.header {
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 100%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.brand-name {
  font-size: $heading-font-size;
  color: $promary;
}
.nav-link {
  font-size: $normal-font-size;
  color: $color;
  padding: 0.5em 0.7em;
}
.nav-link:hover {
  color: $promary;
}
.cta {
  background-color: transparent;
  color: $color;
  border-color: $color;
}
.cta:hover {
  background-color: $promary;
  border-color: $promary;
}
