@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$green: #29706c;
$orange: #f26440;
$yellow: #edbe4a;
$base: #f8f7f1;
$color: #2a2c41;

*,
*::after,
*::before {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base;
  color: $color;
}

a {
  text-decoration: none;
}
a:focus {
  background-color: transparent !important;
}

body::-webkit-scrollbar {
  background-color: $base;
  border-radius: 5px;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: $yellow;
  border-radius: 5px;
}
.header {
  width: 100%;
}
.header__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em auto;
}
.header__content__logo {
  display: flex;
  align-items: center;
}
.header__content__logo__img {
  width: 300px;
}
.header__content__nav {
  display: flex;
  align-items: center;
}
.header__content__nav__link {
  position: relative;
  margin: 0em 3em;
}
.header__content__nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.header__content__nav__link__content {
  font-size: 16px;
  padding: 0.3em 0.5em;
  position: relative;
  background-color: $base;
}
.header__content__nav__link__content::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  border: 2px solid transparent;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50px;
  z-index: -1;
}
.header__content__nav__link__content::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  border: 2px solid transparent;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50px;
  z-index: -1;
}
.header__content__nav__link__input:hover
  ~ .header__content__nav__link__content::after,
.header__content__nav__link__input:hover
  ~ .header__content__nav__link__content::before,
.header__content__nav__link__input:checked
  ~ .header__content__nav__link__content::after,
.header__content__nav__link__input:checked
  ~ .header__content__nav__link__content::before {
  transition: 300ms ease-in-out;
  border-color: $green;
}
