@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #eb4a4a;
  --secondary: #0e1630;
  --white: white;
  --text: #818ebd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a:hover,
button:hover {
  transition: 300ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  background-color: var(--secondary);
}

#root {
  width: 100%;
  max-width: 1600px;
  margin: 0em auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  position: fixed;
  left: 0em;
  background-color: var(--secondary);
}

.header__content {
  width: 100%;
  max-width: 1600px;
  margin: 0em auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1em 2em;
}

.header__content__logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0em;
  border: none;
  cursor: pointer;
}
.header__content__logo__slogan {
  width: 40px;
  height: 35px;
  color: var(--white);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 0.5em;
}

.header__content__logo__text {
  color: var(--white);
  font-size: 20px;
}

.header__content__nav {
  display: flex;
  align-items: center;
}

.header__content__nav__link {
  position: relative;
}

.header__content__nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
}

.header__content__nav__link__content {
  color: var(--text);
  font-size: 15px;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__content__nav__link__content:after {
  content: "";
  position: absolute;
  top: 32px;
  left: 15px;
  width: 0px;
  height: 1px;
  background-color: var(--primary);
}
.header__content__nav__link__input:hover
  ~ .header__content__nav__link__content {
  transition: 300ms ease-in-out;
  color: white;
}
.header__content__nav__link__input:checked
  ~ .header__content__nav__link__content {
  transition: 300ms ease-in-out;
  color: white;
}
.header__content__nav__link__input:checked
  ~ .header__content__nav__link__content::after {
  transition: 300ms ease-in-out;
  width: calc(100% - 30px);
}

.header__content__actions {
  display: flex;
  align-items: center;
}
.header__content__actions__link {
  margin-left: 1em;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__actions__link span {
  display: none;
}
.header__content__actions__link:hover {
  color: var(--primary);
}
.header__content__actions__btn {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--primary);
  margin-left: 1em;
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
}
.header__content__actions__btn:hover {
  background-color: var(--primary);
}
.header__content__menu {
  width: 40px;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0em;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--white);
  margin-left: 1em;
  cursor: pointer;
}
.header__content__menu:hover {
  background-color: var(--primary);
}
@media (max-width: 1000px) {
  .header__content__menu {
    display: flex;
  }
  .header__content__actions__btn {
    display: none;
  }
  .header__content__nav {
    position: absolute;
    top: 60px;
    background-color: var(--secondary);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    right: 29px;
    padding: 1em;
    width: 150px;
  }
}
@media (max-width: 500px) {
  .header__content__logo__text {
    display: none;
  }
}
