.footer {
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
}
.footer-row {
  display: flex;
  margin: 2em 0em;
}
.footer-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.back-to-top {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: var(--third);
}
.back-to-top:hover {
  background-color: var(--sixth);
}
.back-to-top svg {
  width: 15px;
  height: 15px;
}
.footer-left {
  width: 40%;
}
.footer-left p {
  width: 80%;
}
.footer-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-right-col {
  display: flex;
  flex-direction: column;
}
.footer-heading {
  font-size: var(--normal-font-size);
  color: var(--primary);
  text-transform: uppercase;
  margin: 0.5em;
}
.footer-content {
  font-size: var(--normal-font-size);
  font-weight: 800;
  color: var(--third);
  font-family: var(--heading-font-family);
  margin: 0.5em;
}
.footer-content:hover {
  text-decoration: underline;
}
